---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About ♘ 英雄无敌3 博客"
	description="这里是英雄无敌3爱好者博客，记录了英雄无敌3的剧情攻略、心得技巧、mod、精品资源等。"
	pubDate={new Date('May 25 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		这里是英雄无敌3爱好者博客，记录了英雄无敌3的剧情攻略、心得技巧、mod、精品资源等。
	</p>

	<p>
		此站点采用Astro.js构建。Astro是一种内容驱动的静态站点框架，响应速度快，SEO友好。
	</p>

	<p>
		欢迎访问，希望你喜欢。
	</p>
</Layout>
